<div id='expenses'>
    <h4>Expenses</h4>
    <table class="table table-bordered table-striped table-hover">
        <th>Name</th><th>Movies</th><th>Food</th><th>Travel</th><th>Total Expense</th><th>Action</th>
        <tr ng-repeat="x in expenseData">

            <td>{{:: x.name }}</td>
            <td>{{:: x.movies }}</td>
            <td>{{:: x.food }}</td>
            <td>{{:: x.travel }}</td>
            <td>{{ +x.movies +  +x.food + +x.travel }}</td>

             <td>
                 <button type="button" class="btn btn-default btn-sm" ng-click="removeData($index)">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-click="updateData($index)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>

        </tr>
    </table>
</div> 
                